// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
 hero-youtube
========================================================================== */

/* The Modal (background) */
.bv-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content */
.bv-modal-content-details {
  position: absolute;
  height: 100%;
  max-height: 620px;
  width: 100%;
  margin: auto;
  padding:  55px;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: hidden;

}


.bv-mySlides {
  margin: auto;
  max-width:1000px;
  width:100%;
  background-color: #fff;

}


.bv-iframe-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; // 16:9 ratio
  background-color:#000;

}

.bv-iframe-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

/* The Close Button */
.bv-close {
  position: absolute;
  background-size:16px;
  top: 0px;
  right: 0px;
  background-image: url('../img/icons/close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 55px;
  height: 55px;
  background-color: $m-red;
  z-index:999;
  cursor: pointer;

}


@media only screen and (max-width: 650px) {

.bv-modal-content-details {
  padding: 0;
  max-height: 38vh;
  height: 100%;
  }
}


@media only screen and (min-width: 650px) and (max-width: 800px) {

.bv-modal-content-details {
  padding: 0;
  max-height: 450px;
  height: 100%;
  }
}

.bv-disable-scroll {
  overflow: hidden;
  & >:not(.bv-modal) {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
}




/* ==========================================================================
    Dividers & Alignment
========================================================================== */


.bv-mob-left {
   text-align: center;
}

@media only screen and (max-width: 768px) {

 .bv-mob-left {
   text-align: left;
 }
}

.bv-title-divider::after{
     content: url(../img/icons/maltesan-cross.png);
     display: block;
     margin-top: -50px;
     transform: scale(.4);

     @include bp($md) {
       content: url(../img/icons/maltesan-cross.png);
       display: block;
       margin-top: -50px;
       transform: scale(.5);
     }

     @include bp($xl) {
       content: url(../img/icons/maltesan-cross.png);
       display: block;
       margin-top: -120px;
       transform: scale(.65);
     }
   }

.bv-headline-divider::after {
  content: url(../img/icons/maltesan-cross.svg);
  display: block;
  margin: 5px 0 -10px 0;
  text-align: left;
  width: 20px;
  transform: scale(1.1);

  @include bp($md) {
    content: url(../img/icons/maltesan-cross.svg);
    display: block;
    text-align: left;
    margin: -9px 0 -7px 2px;
    transform: scale(1.5);

    }
  }


.bv-offer-divider::after{
     content: url(../img/icons/maltesan-cross-red.png);
     display: block;
     margin-top: -20px;
     transform: scale(.4);

     @include bp($md) {
       content: url(../img/icons/maltesan-cross-red.png);
       display: block;
       margin-top: -20px;
       transform: scale(.5);

     }

 }


/* ==========================================================================
      Gallery - Thumbnails
========================================================================== */

.bv-box-height{
  height: 65px;
  overflow: hidden;

 @include bp($md){
   height: 70px;
   overflow: hidden; }
}

.bv-clearfix {
     overflow: auto;
}

.bv-gallery-nav{

  $icon-size: 6em;

  &--next {
    background-image: url("../img/icons/arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba($m-red, 0.8);
    background-size: 18%;
    height: $icon-size/2;
    width: $icon-size;
    margin: 10px 1px;
    cursor: pointer;

    }

  &--previous {
     background-image: url("../img/icons/arrow-left.svg");
     background-position: center;
     background-repeat: no-repeat;
     background-color: rgba($m-red, 0.8);
     background-size: 18%;
     height: $icon-size/2;
     width: $icon-size;
     margin: 10px 1px;
     cursor: pointer;

   }
}

.bv-horizontal-scroll{

  display: flex;
  min-width: 95%;
  margin-left: 20px;
  overflow-x: auto;
  @include bp($lg){ margin-left: 30px; }

}

.bv-horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.bv-pointer{cursor: pointer; }

/*
.bv-card {

  min-width: 100%;
  padding-right: 15px;


  @include bp($md){ min-width: 100%; }
  @include bp($lg){ min-width: 50%; }
  @include bp($xl){ min-width: 33.5%; }

}

.bv-buttons, .bv-button {
  overflow: hidden;
	width:200px;
}

.bv-buttons {
  float: left;
  width: 50%;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
  text-align: center;
  font-size: 0.75em;
  padding: 0 0 1px;
}
.bv-button  {
  display: block;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
  text-align: center;
  font-size: 0.75em;
  padding: 0 0 1px;
}

$border-radius: $s0/1.5;

.bv-border-radius-top{ border-top-left-radius: $border-radius; border-top-right-radius: $border-radius;}

.bv-border-radius-bottom{ border-bottom-left-radius: $border-radius; border-bottom-right-radius: $border-radius;}
*/


/* ==========================================================================
    Parallax
========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

   &--left   {
         background-attachment: fixed;
         background-position: 32% 50%;
         background-repeat: no-repeat;
         background-size: cover;}


   &--right   {
         background-attachment: fixed;
         background-position: 60% 50%;
         background-repeat: no-repeat;
         background-size: cover;}

   &--darkest   {
         background-attachment: fixed;
         background-color: rgba(5,20,40,0.9);
         background-blend-mode: multiply;
         background-position: center;
         background-size: cover;}

   &--darker   {
         background-attachment: fixed;
         background-color: rgba(5,20,40,0.7);
         background-blend-mode: multiply;
         background-position: center;
         background-size: cover;}

   &--dark   {
         background-attachment: fixed;
         background-color: rgba(5,20,40,0.5);
         background-blend-mode: multiply;
         background-position: center;
         background-size: cover;}

   &--lighter   {
         background-attachment: fixed;
         background-color: rgba(250,250,250,0.7);
         background-blend-mode: lighten;
         background-position: center;
         background-size: cover;
         }

   &--light   {
         background-attachment: fixed;
         background-color: rgba(250,250,250,0.5);
         background-blend-mode: color;
         background-position: center;
         background-size: cover; }

   &--white   {
         background-attachment: fixed;
         background-color: rgba(250,250,250,0.8);
         background-blend-mode: overlay;
         background-position: center;
         background-size: cover; }

   }


@media only screen and (max-width: 1024px) {

   .bv-remove-bg{
     background-image: none!important;
     background-blend-mode: mixin;

     &--black{
       background-image: none!important;
       background-color: $black;}
   }

   .bv-parallax{
         background-attachment: scroll;
         background-size: 200%;
         background-position: right top;
         background-color: $black;

      &--darkest   {
         background-attachment: scroll;
         background-size: cover;
       }
       &--darker   {
         background-attachment: scroll;
         background-size: cover;
       }
       &--dark   {
         background-attachment: scroll;
         background-size: cover;
       }
       &--lighter   {
         background-attachment: scroll;
         background-size: cover;
         background-color: none;
       }
       &--light   {
         background-attachment: scroll;
         background-size: cover;
         background-color: none;
       }
       &--white   {
         background-attachment: scroll;
         background-size: cover;
         background-color: none;
       }
     }
   }




   /* ==========================================================================
   Flight tag - Offers
   ========================================================================== */

   .flight-tag {
     position: absolute;
     top: $s-2;
     left: $s-2;
     display: block;
     width: 50%;
     @include bp($sm){
       top: $s0;
       left: $s0;
       width: 146px;
     }
   }
