<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}





    <!-- intro-->
    <div class=" vpad--xxl bg--light" style="background-image: url('{{site.img}}/icons/pattern.png');">
      <div class="container ">
        <div class="width width--xl text--center text--xxl text--bold" >




          <p>Auf dem maltesischen Archipel treffen die Kulturen der Römer, Mauren, Johanniter, Franzosen und Briten auf sizilianische Küche und türkisfarbene Lagunen – und versprechen mediterranes Urlaubsglück für jeden Geschmack. Entdecken Sie die besten Tipps für Malta, die Kulturhauptstadt 2018 Valletta sowie die Inseln Gozo und Comino.</p>
        </div>
      </div>
    </div>

    <div class="content-spacing section-spacing">

      <!-- loops through section file for page content -->
      {% for section in site.data.sections %}
          <div id="{{section.id}}" class="bv-parallax js-nav-section vpad--xxl" style="background-image: url('{{site.img}}/content/{{section.id}}.jpg');" >
            <div class="container">
              <div class="  text--xxl text--white text--bold">

                <div class="bob ">
                  <div class="bob__text">
                    <h3 class="title title--xl bv-headline-divider bv-lineheight ">{{section.title}}</h3>
                    <div class="space--md"></div>
                    <div class="  text--xxl text--white ">{{section.description}} </div>
                    <div class="space--lg"></div>

                  </div>
                </div>

              </div>
            <div class="space--xl"></div>
              <div class="row row--gutters-md">
                <div class="bv-horizontal-scroll">




                  {% for poi in section.pois.items %}

                      <div id="tracking-poi-{{poi.id}}" style="cursor: pointer; " class="bv-card text--center js-open-modal" data-open-modal="{{poi.id}}">

                        <div class="highlight__image bv-bg-img bg-img bg-img--16-9 " style="background-image:url('{{site.img}}/content/gallery/{{poi.id}}.jpg');"></div>
                        <div class="boxpad--md bg--light " >
                            <div class="space--xxs"></div>
                            <div class="text text--xxxl text--normal text--upper">{{poi.title}}</div>
                            <div class="space--xxs"></div>
                            <div class="bv-box-height text text--lg">{{poi.description}}</div>
                            <div class="title title--sm" style="margin-top:-5px; margin-bottom:5px;">...</div>
                            <div class="text text--xl text--bold text--m-red">Weiterlesen</div>
                            <div class="space--xxs"></div>
                        </div>

                    </div>

              {% endfor %}


                </div>

                <div class=" prev {{section.gallery-nav}}--previous " ></div>
                <div class=" next {{section.gallery-nav}}--next " ></div>



              </div>

            </div>
          </div>

        {% endfor %}

        <script>
          $(function () {
              $(".prev").mouseover(function () {
                $(".bv-horizontal-scroll").animate({
                  "scrollLeft": 0
                }, $(".bv-horizontal-scroll ").outerWidth() );
              }).mouseout(function () {
                $(".bv-horizontal-scroll").stop();
              });

              $(".next").mouseover(function () {
                $(".bv-horizontal-scroll").animate({
                  "scrollLeft": $(".bv-horizontal-scroll ").width() * 4 - $(this).scrollLeft()
                }, $(".bv-horizontal-scroll ").width() * 4 - $(this).scrollLeft());
                //alert($(".bv-horizontal-scroll ").width() * 4 - $(this).scrollLeft());

              }).mouseout(function () {
                $(".bv-horizontal-scroll").stop();
              });
            });
        </script>

      <!-- Offers section -->
      <div id="offers" class="js-nav-section">
        <div class="space--xxxl"></div>
        <div class="title title--sm text--center">Mediterrane Auszeit</div>
        <div class="space--sm"></div>
        <div class="title title--xxxl text--center text--upper bv-offer-divider">auf Malta</div>
        <div class="text text--xxxl text--center">Entdecken Sie individuelle Boutiquehotels und einzigartige Unterkünfte auf dem Mittelmeer-Archipel.</div>
        <div class="space--xxl"></div>
        {% include offer/all-offers.html %}
        <div class="space--xxxl"></div>
        {% include page/promo-offers.html %}
      </div>


    </div>


    {% include page/footer.html %}

    {% include modal/sections.html %}

  </body>

</html>
