<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}




    <!-- intro-->
    <div class=" vpad--xl bg--light " >
      <div class="container">
        <div class="width width--xl text--center text--xxl   ">

          <div class="space--sm "></div>


          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>

    <div class="content-spacing section-spacing">

      <!-- loops through section file for page content -->
      {% for section in site.data.sections %}
          <div id="{{section.id}}" class="bv-parallax js-nav-section vpad--xxl" style="background-image: url('{{site.img}}/content/{{section.id}}.jpg');" >
            <div class="container ">
              <div class="row row--valign-center row--gutters-md row--6-6 text--xxl text--white text--bold">
                <div class="col--9 boxpad--xl">
                  <div class=" title title--xl bv-headline-divider bv-lineheight" >{{section.title}}</div>
                  <div class="space--xs"></div>
                  <p>{{section.description}} </p>
                </div>
                <div class="col--3">
                  <div class="" style=""></div>
                </div>
              </div>
              <div class="space--xl"></div>
              <div class="row row--gutters-md  " style="height:480px; overflow-y: auto; padding-bottom:30px;">

                  {% for poi in section.pois.items %}

                  <div id="tracking-poi-{{poi.id}}" class="col col--lg-6 col--xl-4 text--center js-open-modal" data-open-modal="{{poi.id}}">
                    <div class="bg--white " style="cursor: pointer;" >
                      <div class="highlight__image bv-bg-img bg-img bg-img--16-9" style="background-image:url('{{site.img}}/content/gallery/{{poi.id}}.jpg'); "></div>
                      <div class="boxpad--md " >
                          <div class="space--xxs"></div>
                          <div class="text text--xxxl text--normal text--upper">{{poi.title}}</div>
                          <div class="space--xxs"></div>
                          <div class="bv-box-height text text--lg">{{poi.description}}</div>
                          <div class="title title--sm" style="margin-top:-5px; margin-bottom:5px;">...</div>
                          <div class="text text--xl text--bold text--m-red">Weiterlesen</div>
                          <div class="space--xxs"></div>
                      </div>
                    </div>
                  </div>

              {% endfor %}


                </div>

            </div>
          </div>

        {% endfor %}

      <!-- Offers section -->
      <div id="offers" class="js-nav-section">
        <div class="space--xxxl"></div>
        <div class="title title--xxxl text--center">Latest Offers</div>
        <div class="space--xxl"></div>
        {% include offer/all-offers.html %}
        <div class="space--xxxl"></div>
        {% include page/promo-offers.html %}
      </div>


    </div>


    {% include page/footer.html %}

    {% include modal/sections.html %}

  </body>

</html>
